<footer>
    <div class="container">
      <div class="footer-grid">
        <div class="footer-brand">
          <h2>Advanced Action Sports, LLC</h2>
          <p>Two locations serving Massachusetts</p>
        </div>
        <div class="footer-location">
          <h3>Webster, MA</h3>
          <p>
            109 Worcester Rd.<br>
            Webster, MA 01570<br>
            (508) 731-6300
          </p>
        </div>
        <div class="footer-location">
          <h3>Granville, MA</h3>
          <p>
            553 W. Hartland Rd.<br>
            Granville, MA 01034<br>
            (508) 731-6300
          </p>
        </div>
      </div>
      <div class="footer-bottom">
        <span class="copyright">Copyright 2026 / Trademark - Advanced Action Sports, LLC / <a href="{{ site.baseurl }}/jobs/">We're hiring!</a></span>
        <div class="social-links">
          <a href="https://www.facebook.com/advancedactionsports" target="_blank" rel="noreferrer noopener" aria-label="Facebook">
            <img src="{{ site.baseurl }}/assets/images/facebook.webp" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/advancedactionsports/" target="_blank" rel="noreferrer noopener" aria-label="Instagram">
            <img src="{{ site.baseurl }}/assets/images/instagram.webp" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
  </footer>